workflow-role-leadership-http.json
{
  "name": "Job Search LinkedIn - Leadership Roles - HTTP",
  "description": null,
  "nodes": [
    {
      "parameters": {},
      "id": "c55368da-3140-45fc-8b59-73af77135e92",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        416,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// ===== JOB SEARCH CONFIG (ROLE-SPLIT WORKFLOW) =====\n// Scope: role_leadership\n\nconst roleKeywords = [\n  'Head of AI',\n  'Head of Automation',\n  'Head of AI Strategy',\n  'Director of AI',\n  'Director of Intelligent Automation',\n  'Director of Automation',\n  'Director of AI Platform',\n  'Director of Digital Transformation',\n  'Director Enterprise AI',\n  'Director AI Governance'\n];\n\nconst config = {\n  workflowScope: 'role_leadership',\n\n  indeedSearches: [],\n\n  locationPlans: [\n    {\n      planId: 'ny_remote_hybrid',\n      location: 'New York City Metropolitan Area',\n      workTypes: ['remote', 'hybrid']\n    },\n    {\n      planId: 'us_remote_only',\n      location: 'United States',\n      workTypes: ['remote']\n    }\n  ],\n\n  datePosted: 'past_24h',\n  maxResultsPerSearch: 40,\n  includeComparisonWindow: false,\n  comparisonDatePosted: 'past_week',\n  comparisonMaxResults: 40,\n\n  fetchFullDescription: true,\n  enrichWithAI: false,\n  linkedinCookie: $env.LINKEDIN_COOKIE || '',\n  actorProxyConfig: {},\n\n  runGuardEnabled: true,\n  runGuardMinMinutes: 45,\n\n  maxQueriesPerRun: 10,\n\n  // Safe mode (KEPT)\n  safeMode: false,\n  safeMaxQueries: 2,\n  safeMaxResults: 10,\n  safeFetchFullDescription: false,\n\n  testMode: false,\n  testMaxQueries: 2,\n  testMaxResults: 10,\n  testFetchFullDescription: false,\n\n  freshnessDays: 14,\n\n  scoring: {\n    titleKeywords: [\n      'Head of AI',\n      'Head of Automation',\n      'Head of AI Strategy',\n      'Director of AI',\n      'Director of Intelligent Automation',\n      'Director of Automation',\n      'Director of AI Platform',\n      'Director of Digital Transformation',\n      'Director Enterprise AI',\n      'Director AI Governance'\n    ],\n    partialKeywords: [\n      'automation', 'workflow', 'ai', 'agentic', 'rpa', 'intelligent automation',\n      'hyperautomation', 'power platform', 'power automate', 'servicenow',\n      'integration', 'ipaas', 'workato', 'mulesoft', 'boomi', 'zapier', 'make', 'n8n'\n    ],\n    seniorityWords: [\n      'chief', 'vp', 'vice president', 'director', 'head of', 'senior director',\n      'principal', 'lead', 'architect'\n    ],\n    nycAreaKeywords: [\n      'new york', 'nyc', 'newburgh', 'poughkeepsie', 'hudson valley',\n      'westchester', 'stamford', 'jersey city', 'newark', 'white plains',\n      'yonkers', 'brooklyn', 'manhattan', 'bronx', 'queens', 'staten island'\n    ],\n    aiGovernanceKeywords: [\n      'ai governance', 'ai adoption', 'ai strategy', 'ai policy',\n      'responsible ai', 'ai ethics', 'ai transformation', 'ai roadmap',\n      'generative ai', 'enterprise ai'\n    ],\n    londonKeywords: [\n      'london', 'united kingdom', ', uk', ', england', 'greater london'\n    ],\n    highRelevanceThreshold: 60\n  },\n\n  airtableBaseId: 'appHQJJBGSLIXybkr',\n  airtableTableId: 'tbltkycOY9FgUdQpm',\n  airtableApiKey: '{{ $credentials.airtableApiKey }}',\n\n  slackWebhookUrl: $env.SLACK_WEBHOOK_URL || '',\n  telegramBotToken: '{{ $credentials.telegramBotToken }}',\n  telegramChatId: '6592429185'\n};\n\nconst primarySearches = [];\nfor (const keywords of roleKeywords) {\n  for (const plan of config.locationPlans) {\n    for (const workType of plan.workTypes) {\n      primarySearches.push({\n        keywords,\n        location: plan.location,\n        workType,\n        datePosted: config.datePosted,\n        maxResults: config.maxResultsPerSearch,\n        scope: config.workflowScope,\n        planId: plan.planId,\n        windowId: 'primary'\n      });\n    }\n  }\n}\n\nconst comparisonSearches = [];\nif (config.includeComparisonWindow) {\n  for (const keywords of roleKeywords) {\n    for (const plan of config.locationPlans) {\n      for (const workType of plan.workTypes) {\n        comparisonSearches.push({\n          keywords,\n          location: plan.location,\n          workType,\n          datePosted: config.comparisonDatePosted,\n          maxResults: config.comparisonMaxResults,\n          scope: config.workflowScope,\n          planId: plan.planId,\n          windowId: 'comparison'\n        });\n      }\n    }\n  }\n}\n\nconfig.linkedinSearches = [...primarySearches, ...comparisonSearches];\nconst maxQueriesPerRun = Math.max(1, Number(config.maxQueriesPerRun ?? 10));\nconfig.linkedinSearches = config.linkedinSearches.slice(0, maxQueriesPerRun);\n\nconst effectiveSafeMode = !!(config.safeMode || config.testMode);\nif (effectiveSafeMode) {\n  const maxQueries = Math.max(1, Number(config.safeMaxQueries ?? config.testMaxQueries ?? 1));\n  const maxResults = Math.max(1, Number(config.safeMaxResults ?? config.testMaxResults ?? 10));\n  const safeFetch = (config.safeFetchFullDescription ?? config.testFetchFullDescription ?? false);\n\n  config.linkedinSearches = config.linkedinSearches\n    .slice(0, maxQueries)\n    .map(search => ({ ...search, maxResults: Math.min(Number(search.maxResults || 40), maxResults) }));\n\n  config.fetchFullDescription = !!safeFetch;\n}\n\nconfig._abortRun = false;\nconfig._abortReason = '';\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  const nowMs = Date.now();\n  const minGapMs = Math.max(1, Number(config.runGuardMinMinutes || 45)) * 60 * 1000;\n  const runGuardKey = `linkedinScraperLastStartMs_${config.workflowScope}`;\n  const lastStartMs = Number(staticData[runGuardKey] || 0);\n\n  if (config.runGuardEnabled && lastStartMs && (nowMs - lastStartMs) < minGapMs) {\n    const elapsedMinutes = Math.floor((nowMs - lastStartMs) / 60000);\n    const waitMinutes = Math.ceil((minGapMs - (nowMs - lastStartMs)) / 60000);\n    config._abortRun = true;\n    config._abortReason = `Blocked by run guard: last run started ${elapsedMinutes} minute(s) ago. Try again in about ${waitMinutes} minute(s).`;\n  } else {\n    staticData[runGuardKey] = nowMs;\n  }\n} catch (error) {\n  config._abortRun = false;\n  config._abortReason = `Run guard unavailable: ${error?.message || String(error)}`;\n}\n\nreturn [{ json: config }];\n"
      },
      "id": "5e29007d-6295-40ef-8faa-6839655fb07b",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Split LinkedIn searches into individual items\nconst config = $input.first().json;\n\nif (config._abortRun) {\n  console.log(config._abortReason || 'Run aborted by guard.');\n  return [];\n}\n\nconst scope = config.workflowScope || 'default';\nconst staticData = $getWorkflowStaticData('global');\n\n// Guard 1: never emit twice within the same execution\nconst execGuardKey = `splitLastExecutionId_${scope}`;\nconst currentExecutionId = String($execution.id || '');\nif (staticData[execGuardKey] === currentExecutionId) {\n  return [];\n}\nstaticData[execGuardKey] = currentExecutionId;\n\nconst searches = Array.isArray(config.linkedinSearches) ? config.linkedinSearches : [];\n\n// Safety dedupe in case upstream config accidentally repeats query tuples\nconst seen = new Set();\nconst uniqueSearches = [];\nfor (const search of searches) {\n  const key = [\n    search.keywords,\n    search.location,\n    search.workType,\n    search.datePosted,\n    search.windowId || 'primary'\n  ]\n    .map(v => String(v || '').toLowerCase().trim())\n    .join('|');\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n  uniqueSearches.push(search);\n}\n\n// Guard 2 (global fail-safe): max 10 actor calls per role per 15-minute window\nconst HARD_MAX_QUERIES = 10;\nconst BUDGET_WINDOW_MINUTES = 15;\nconst budgetKey = `splitBudget_${scope}`;\nconst now = Date.now();\nlet budget = staticData[budgetKey] || { windowStartMs: now, count: 0 };\n\nconst windowMs = BUDGET_WINDOW_MINUTES * 60 * 1000;\nif (!budget.windowStartMs || (now - Number(budget.windowStartMs)) >= windowMs) {\n  budget = { windowStartMs: now, count: 0 };\n}\n\nconst configuredMax = Math.max(1, Number(config.maxQueriesPerRun ?? HARD_MAX_QUERIES));\nconst remainingBudget = Math.max(0, HARD_MAX_QUERIES - Number(budget.count || 0));\nconst effectiveMax = Math.min(HARD_MAX_QUERIES, configuredMax, remainingBudget);\n\nif (effectiveMax <= 0) {\n  return [];\n}\n\nconst finalSearches = uniqueSearches.slice(0, effectiveMax);\n\nbudget.count = Number(budget.count || 0) + finalSearches.length;\nstaticData[budgetKey] = budget;\n\nreturn finalSearches.map((search, idx) => ({\n  json: {\n    ...search,\n    _queryIndex: idx + 1,\n    _queryCount: finalSearches.length,\n    fetchFullDescription: typeof search.fetchFullDescription === 'boolean'\n      ? search.fetchFullDescription\n      : !!config.fetchFullDescription,\n    enrichWithAI: !!config.enrichWithAI,\n    linkedinCookie: config.linkedinCookie || '',\n    actorProxyConfig: config.actorProxyConfig || {},\n    _config: config,\n  }\n}));"
      },
      "id": "dd71dd58-f887-4c2f-9b28-47068f10e0fe",
      "name": "Split LinkedIn Queries",
      "type": "n8n-nodes-base.code",
      "position": [
        784,
        480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Normalize Mfrostbutter/linkedin-jobs-scraper output to unified job schema\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n  // Our actor always emits title + companyName; skip empty records\n  if (!d || !d.title) continue;\n\n  const loc = d.location || '';\n  const workplaceType = d.workRemoteAllowed\n    ? (d.workplaceTypes && d.workplaceTypes[0]) || 'Remote'\n    : 'On-site';\n\n  // salary_low/salary_high come from parser; salary is the raw string\n  let salaryMin = d.salary_low || null;\n  let salaryMax = d.salary_high || null;\n\n  // Carry config forward when available. Actor dataset items usually drop upstream fields,\n  // so fallback to Config node when this workflow path includes it.\n  let cfg = item.json._config;\n  if (!cfg) {\n    try {\n      cfg = $('Config').first()?.json || null;\n    } catch (e) {\n      cfg = null;\n    }\n  }\n\n  results.push({\n    jobTitle: d.title || '',\n    company: d.companyName || '',\n    location: loc,\n    source: 'LinkedIn',\n    sourceId: d.id || `li-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`,\n    sourceUrl: d.link || d.applyUrl || '',\n    postedDate: d.postedAt || new Date().toISOString(),\n    salaryMin: salaryMin,\n    salaryMax: salaryMax,\n    employmentType: 'Full-time',\n    workplaceType: workplaceType,\n    companySize: '',\n    companyIndustry: '',\n    descriptionSnippet: (d.descriptionText || '').substring(0, 500),\n    fullDescription: d.descriptionText || '',\n    easyApply: false,\n    applicants: null,\n    _config: cfg,\n  });\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "c4613412-ef6c-4693-b872-4d70f4c3f8d9",
      "name": "Normalize LinkedIn",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// ===== DEDUP + SCORE =====\n// Deduplicates within batch and scores each job for relevance.\n\nconst items = $input.all();\n\nconst DEFAULT_SCORING = {\n  titleKeywords: [\n    'technology director', 'cio', 'chief ai officer', 'caio',\n    'it director', 'director ai governance', 'ai adoption',\n    'chief information officer', 'vp technology', 'head of ai',\n    'principal ai engineer', 'solutions architect', 'solutions engineer',\n    'director of ai'\n  ],\n  partialKeywords: [\n    'ai', 'artificial intelligence', 'automation', 'digital transformation',\n    'governance', 'machine learning', 'technology', 'architect', 'principal'\n  ],\n  seniorityWords: [\n    'chief', 'vp', 'vice president', 'director', 'head of', 'senior director',\n    'cio', 'cto', 'caio', 'principal', 'staff', 'lead'\n  ],\n  nycAreaKeywords: [\n    'new york', 'nyc', 'newburgh', 'poughkeepsie', 'hudson valley',\n    'westchester', 'stamford', 'jersey city', 'newark', 'white plains',\n    'yonkers', 'brooklyn', 'manhattan', 'bronx', 'queens', 'staten island'\n  ],\n  aiGovernanceKeywords: [\n    'ai governance', 'ai adoption', 'ai strategy', 'ai policy',\n    'responsible ai', 'ai ethics', 'ai transformation', 'ai roadmap',\n    'generative ai', 'enterprise ai'\n  ],\n  londonKeywords: ['london', 'united kingdom', ', uk', ', england', 'greater london'],\n  highRelevanceThreshold: 60,\n};\n\nfunction getScoringConfig() {\n  const fromItem = items[0]?.json?._config?.scoring;\n  if (fromItem && typeof fromItem === 'object') return fromItem;\n  return DEFAULT_SCORING;\n}\n\nconst config = getScoringConfig();\n\n// Dedup within batch by normalized title + company\nconst seen = new Set();\nconst unique = [];\nfor (const item of items) {\n  const d = item.json;\n  const key = `${(d.jobTitle || '').toLowerCase().trim()}|${(d.company || '').toLowerCase().trim()}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  unique.push(d);\n}\n\n// Scoring function\nfunction scoreJob(job) {\n  let score = 0;\n  const breakdown = [];\n  const titleLower = (job.jobTitle || '').toLowerCase();\n  const descLower = (job.fullDescription || '').toLowerCase();\n\n  // Title exact match (+30)\n  const exactMatch = config.titleKeywords.some(kw => titleLower.includes(kw));\n  if (exactMatch) {\n    score += 30;\n    breakdown.push('Title exact match: +30');\n  } else {\n    // Partial keyword match (+15)\n    const hasPartial = config.partialKeywords.some(kw => titleLower.includes(kw));\n    if (hasPartial) {\n      score += 15;\n      breakdown.push('Title partial match: +15');\n    }\n  }\n\n  // Seniority signal (+5)\n  if (config.seniorityWords.some(w => titleLower.includes(w))) {\n    score += 5;\n    breakdown.push('Senior title: +5');\n  }\n\n  // Location: Remote/Hybrid (+20), NYC metro (+15)\n  const locLower = (job.location || '').toLowerCase();\n  const wpLower = (job.workplaceType || '').toLowerCase();\n  if (wpLower.includes('remote') || locLower.includes('remote')) {\n    score += 20;\n    breakdown.push('Remote: +20');\n  } else if (wpLower.includes('hybrid') || locLower.includes('hybrid')) {\n    score += 20;\n    breakdown.push('Hybrid: +20');\n  } else if (config.nycAreaKeywords.some(kw => locLower.includes(kw))) {\n    score += 15;\n    breakdown.push('NYC metro area: +15');\n  }\n\n  // Salary >= $150K (+10)\n  if (job.salaryMin && job.salaryMin >= 150000) {\n    score += 10;\n    breakdown.push('Salary >= $150K: +10');\n  } else if (job.salaryMax && job.salaryMax >= 150000) {\n    score += 5;\n    breakdown.push('Salary range includes $150K+: +5');\n  }\n\n  // Mid-market company 100-2000 employees (+10)\n  const sizeStr = (job.companySize || '').replace(/,/g, '');\n  const sizeMatch = sizeStr.match(/(\\d+)/);\n  if (sizeMatch) {\n    const size = parseInt(sizeMatch[1]);\n    if (size >= 100 && size <= 2000) {\n      score += 10;\n      breakdown.push('Mid-market company (100-2K): +10');\n    } else if (size > 2000 && size <= 10000) {\n      score += 5;\n      breakdown.push('Large company (2K-10K): +5');\n    }\n  }\n\n  // AI governance/adoption keywords in description (+10)\n  const hasGovernance = config.aiGovernanceKeywords.some(kw => descLower.includes(kw));\n  if (hasGovernance) {\n    score += 10;\n    breakdown.push('AI governance/adoption match: +10');\n  }\n\n  // Negative signals (-20)\n  if (titleLower.match(/\\b(intern|junior|entry.level|associate|analyst)\\b/)) {\n    score -= 20;\n    breakdown.push('Junior/entry role: -20');\n  }\n\n  return {\n    relevanceScore: Math.max(0, Math.min(100, score)),\n    scoreBreakdown: JSON.stringify(breakdown),\n    isHighRelevance: score >= config.highRelevanceThreshold,\n    aiGovernanceMatch: hasGovernance\n  };\n}\n\n// Score each job\nconst scored = unique.map(job => {\n  const scores = scoreJob(job);\n  return {\n    json: {\n      ...job,\n      ...scores,\n      firstSeen: new Date().toISOString(),\n      lastSeen: new Date().toISOString(),\n      status: 'New'\n    }\n  };\n});\n\n// Sort by relevance score descending\nscored.sort((a, b) => b.json.relevanceScore - a.json.relevanceScore);\n\n// ===== DUAL NY+LONDON OFFICE DETECTION =====\nconst londonKws = config.londonKeywords || ['london', 'united kingdom', ', uk', ', england', 'greater london'];\n\nconst companiesByRegion = {};\nfor (const item of scored) {\n  const company = (item.json.company || '').toLowerCase().trim();\n  if (!company) continue;\n  const loc = (item.json.location || '').toLowerCase();\n  const isLondon = londonKws.some(kw => loc.includes(kw));\n  const isNY = config.nycAreaKeywords.some(kw => loc.includes(kw));\n  if (!companiesByRegion[company]) companiesByRegion[company] = { ny: false, london: false };\n  if (isLondon) companiesByRegion[company].london = true;\n  if (isNY) companiesByRegion[company].ny = true;\n}\n\nfor (const item of scored) {\n  const company = (item.json.company || '').toLowerCase().trim();\n  const isDual = !!(companiesByRegion[company] && companiesByRegion[company].ny && companiesByRegion[company].london);\n  item.json.dualOfficeNYLondon = isDual;\n  if (isDual) {\n    item.json.relevanceScore = Math.min(100, item.json.relevanceScore + 15);\n    const breakdown = JSON.parse(item.json.scoreBreakdown || '[]');\n    breakdown.push('Dual NY+London office: +15');\n    item.json.scoreBreakdown = JSON.stringify(breakdown);\n  }\n}\n\n// Re-sort after dual-office bonus\nscored.sort((a, b) => b.json.relevanceScore - a.json.relevanceScore);\n\nreturn scored;"
      },
      "id": "c587273b-40fa-45f0-9866-98a5fd32ee58",
      "name": "Dedup and Score",
      "type": "n8n-nodes-base.code",
      "position": [
        624,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ (() => { const sourceId = encodeURIComponent($json.sourceId || \"\"); const source = ($json.source || \"\").replace(/\"/g, \"\"); return `https://api.airtable.com/v0/appHQJJBGSLIXybkr/tbltkycOY9FgUdQpm?filterByFormula=AND({Source ID}=\"${sourceId}\",{Source}=\"${source}\")`; })() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 1100
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ab904cad-a131-4999-9e1c-307660174c8b",
      "name": "Check Airtable Existing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        800,
        688
      ],
      "typeVersion": 4.2,
      "credentials": {
        "airtableApi": {
          "id": "ZkTR8M3mu9cMks5p",
          "name": "Airtable account"
        },
        "httpHeaderAuth": {
          "id": "iFqvgVfMdFzXlkhu",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-is-new",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.error ? -1 : ($json.records ? $json.records.length : 0) }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "5dd8ff92-5c3a-4d1d-9cfe-b414dc7fc55a",
      "name": "Is New Job?",
      "type": "n8n-nodes-base.if",
      "position": [
        960,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/appHQJJBGSLIXybkr/tbltkycOY9FgUdQpm",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"Job Title\": \"{{ $('Dedup and Score').item.json.jobTitle }}\",\n        \"Company\": \"{{ $('Dedup and Score').item.json.company }}\",\n        \"Location\": \"{{ $('Dedup and Score').item.json.location }}\",\n        \"Source\": \"{{ $('Dedup and Score').item.json.source.replace(/\"/g, '') }}\",\n        \"Source ID\": \"{{ $('Dedup and Score').item.json.sourceId }}\",\n        \"Source URL\": \"{{ $('Dedup and Score').item.json.sourceUrl }}\",\n        \"Posted Date\": \"{{ $('Dedup and Score').item.json.postedDate ? $('Dedup and Score').item.json.postedDate.split('T')[0]: null }}\",\n        \"Salary Min\": {{ $('Dedup and Score').item.json.salaryMin || 'null' }},\n        \"Salary Max\": {{ $('Dedup and Score').item.json.salaryMax || 'null' }},\n        \"Employment Type\": \"{{ $('Dedup and Score').item.json.employmentType }}\",\n        \"Workplace Type\": \"{{ $('Dedup and Score').item.json.workplaceType }}\",\n        \"Company Size\": \"{{ $('Dedup and Score').item.json.companySize }}\",\n        \"Company Industry\": \"{{ $('Dedup and Score').item.json.companyIndustry }}\",\n        \"Description Snippet\": {{ JSON.stringify($('Dedup and Score').item.json.descriptionSnippet) }},\n        \"Full Description\": {{ JSON.stringify($('Dedup and Score').item.json.fullDescription) }},\n        \"Relevance Score\": {{ $('Dedup and Score').item.json.relevanceScore }},\n        \"Score Breakdown\": {{ JSON.stringify($('Dedup and Score').item.json.scoreBreakdown) }},\n        \"AI Governance Match\": {{ $('Dedup and Score').item.json.aiGovernanceMatch }},\n        \"Status\": \"New\",\n        \"Easy Apply\": {{ $('Dedup and Score').item.json.easyApply || false }},\n        \"Applicants\": {{ $('Dedup and Score').item.json.applicants || 'null' }},\n        \"First Seen\": \"{{ $('Dedup and Score').item.json.firstSeen ? $('Dedup and Score').item.json.firstSeen.split('T')[0] : null }}\",\n        \"Last Seen\": \"{{ $('Dedup and Score').item.json.lastSeen ? $('Dedup and Score').item.json.lastSeen.split('T')[0] : null }}\",\n        \"Dual Office NY+London\": {{ $('Dedup and Score').item.json.dualOfficeNYLondon || false }}\n      }\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 4,
              "batchInterval": 1100
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3a51f199-6aff-40e8-941d-cfb073873046",
      "name": "Create Airtable Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1136,
        672
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "9Rofzp5j5GtaSyu0",
          "name": "AT-Test"
        }
      }
    },
    {
      "parameters": {},
      "id": "435520ce-5d69-4a3b-b3d2-2144cd4301ab",
      "name": "Skip Existing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1136,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet cfg = items[0]?.json?._config || null;\nif (!cfg) { try { cfg = $('Dedup and Score').first()?.json?._config || null; } catch {} }\n\nconst slackWebhookUrl = cfg?.slackWebhookUrl || $env.SLACK_WEBHOOK_URL || '';\n\nlet succeeded = 0;\nlet rateLimited = 0;\nlet otherFailed = 0;\nfor (const i of items) {\n  const j = i.json || {};\n  if (j.records && j.records[0] && j.records[0].id) succeeded += 1;\n  else if (Array.isArray(j.errors) && j.errors.some(e => (e.error||'').includes('RATE_LIMIT'))) rateLimited += 1;\n  else if (j.errors || j.error) otherFailed += 1;\n}\nconst total = items.length;\nconst count = succeeded;\n\nlet message;\nif (total === 0) {\n  message = 'No new jobs added.';\n} else if (rateLimited === 0 && otherFailed === 0) {\n  message = `New jobs have been added to Airtable. (${succeeded})`;\n} else {\n  message = `Airtable: ${succeeded} added, ${rateLimited} rate-limited, ${otherFailed} other failed (out of ${total}).`;\n}\n\nreturn [{ json: { message, count, succeeded, rateLimited, otherFailed, total, slackWebhookUrl } }];\n"
      },
      "id": "55303384-e1c2-46ff-a2cf-0da05c69c00a",
      "name": "Build Notification",
      "type": "n8n-nodes-base.code",
      "position": [
        1312,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-jobs",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 0
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39d99bde-8fa6-4612-960d-8b60c68fef43",
      "name": "Has Notifications?",
      "type": "n8n-nodes-base.if",
      "position": [
        1472,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.slackWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.message || \"No message\") }},\n  \"mrkdwn\": true,\n  \"unfurl_links\": false,\n  \"unfurl_media\": false\n}\n",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "id": "f9487924-2c57-4d80-b5fd-421ab4ee814a",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1712,
        496
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Trigger Workflow 2 (Resume Generator) for high-scoring new jobs\n// Only for jobs scoring >= 70\nconst items = $('Create Airtable Record').all();\nconst toGenerate = items.filter(item => {\n  const score = item.json.records?.[0]?.fields?.['Relevance Score'] || 0;\n  return score >= 70;\n});\n\nif (toGenerate.length === 0) {\n  return [];\n}\n\nconst webhookUrl = 'https://n8n-dev.ageniuslabs.com/webhook/job-resume-generator';\nconst triggered = [];\n\nfor (const item of toGenerate) {\n  const f = item.json.records?.[0]?.fields || {};\n  const recordId = item.json.records?.[0]?.id || '';\n  triggered.push({\n    airtableRecordId: recordId,\n    jobTitle: f['Job Title'],\n    company: f['Company'],\n    fullDescription: f['Full Description'],\n    sourceUrl: f['Source URL'],\n    source: f['Source']\n  });\n}\n\nreturn triggered.map(t => ({ json: { ...t, webhookUrl } }));"
      },
      "id": "c5d913e1-6029-45cc-9c30-90dca2518944",
      "name": "Queue Resume Generation",
      "type": "n8n-nodes-base.code",
      "position": [
        1680,
        656
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"airtableRecordId\": \"{{ $json.airtableRecordId }}\",\n  \"jobTitle\": {{ JSON.stringify($json.jobTitle) }},\n  \"company\": {{ JSON.stringify($json.company) }},\n  \"fullDescription\": {{ JSON.stringify($json.fullDescription) }},\n  \"sourceUrl\": \"{{ $json.sourceUrl }}\",\n  \"source\": \"{{ $json.source }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e4b537a7-d728-4806-b083-76083cbcc943",
      "name": "Trigger Resume Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        656
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/emj1kLbPVetKdfJk8/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const idx = Number($json._queryIndex || 0);\n  if (idx > 10) throw new Error(`Safety cap exceeded: query index ${idx} > 10`);\n  return {\n    keywords: $json.keywords,\n    location: $json.location,\n    workType: $json.workType,\n    datePosted: $json.datePosted,\n    maxResults: $json.maxResults,\n    fetchFullDescription: $json.fetchFullDescription,\n    enrichWithAI: $json.enrichWithAI,\n    linkedinCookie: $json.linkedinCookie || '',\n    proxyConfig: $json.actorProxyConfig || {},\n    _n8nQueryIndex: idx,\n    _n8nQueryCount: Number($json._queryCount || 0),\n    _n8nExecutionId: String($execution.id || ''),\n    _n8nWorkflowScope: String($json._config?.workflowScope || ''),\n  };\n})() }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 300000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "id": "http-apify-sync-7e3a",
      "name": "Run Apify (HTTP Sync)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OfoxtY5vOuMfJybD",
          "name": "Apify API (Header)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Apify run-sync-get-dataset-items returns an array of dataset items.\n// n8n HTTP node delivers it as either {json: <array>} or wraps in {json: {body: <array>}}.\n// Explode into one n8n item per dataset record.\nconst out = [];\nfor (const item of $input.all()) {\n  const j = item.json;\n  let arr = null;\n  if (Array.isArray(j)) arr = j;\n  else if (j && Array.isArray(j.body)) arr = j.body;\n  else if (j && Array.isArray(j.data)) arr = j.data;\n  else if (j && typeof j === 'object') arr = [j];\n  if (!arr) continue;\n  for (const r of arr) {\n    if (r && typeof r === 'object') out.push({ json: r });\n  }\n}\nreturn out;\n"
      },
      "id": "flatten-apify-7e3b",
      "name": "Flatten Apify Dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        480
      ]
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Split LinkedIn Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Job?": {
      "main": [
        [
          {
            "node": "Create Airtable Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup and Score": {
      "main": [
        [
          {
            "node": "Check Airtable Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification": {
      "main": [
        [
          {
            "node": "Has Notifications?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Notifications?": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Resume Generation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize LinkedIn": {
      "main": [
        [
          {
            "node": "Dedup and Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Airtable Record": {
      "main": [
        [
          {
            "node": "Build Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split LinkedIn Queries": {
      "main": [
        [
          {
            "node": "Run Apify (HTTP Sync)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Airtable Existing": {
      "main": [
        [
          {
            "node": "Is New Job?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Resume Generation": {
      "main": [
        [
          {
            "node": "Trigger Resume Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Apify (HTTP Sync)": {
      "main": [
        [
          {
            "node": "Flatten Apify Dataset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Apify Dataset": {
      "main": [
        [
          {
            "node": "Normalize LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "activeVersionId": null,
  "versionCounter": 34,
  "activeVersion": null,
  "id": "NXL8LKXq8Yj1PF2b"
}